
body {
    margin: 0;
    padding: 0;
    background-image: url(sea.jpg);
    background-size: cover;
    background-position: center;
   
}   

* {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.navbar {
    background:rgba(12, 125, 135, 0.5) ; 
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

li a:hover {
    color: plum;
 }

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.logo a {
    font-size: 35px;
    font-weight: 60px;
    color: rgb(185, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align:center;
    padding: 1px 10px;
    text-decoration: none;
    margin-right: 20px;
}

.personal-description {
margin: 0px;
}       

h1 {
float:left;
margin-left: 150px;
font-family:'Times New Roman', Times, serif;
font-size: 45px;
margin-top: 120px;
color: rgb(11, 40, 40);
}

p {
float: left;
margin-left: 70px;
font-size: 25px;
padding: 40px 80px;
margin-top: -180px;
color: black;
font-family: Arial, Helvetica, sans-serif;
}

.text-stroke {
color: rgb(107, 37, 49);            
text-shadow: 1px 2px 1px rgb(255, 251, 251);
margin-top: -60px;
}



h4 {
float: left;
margin-left: -630px;
margin-top: 150px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
color: white;
}


img {
width: 300px; 
max-width: 100%;
height: auto;
text-align: right;
margin-top: 70px;
border: white;
border-radius: 50px;
margin-left: 100px;
}

.center-text {
text-align: center;
padding: 20px;
margin-top: -200px;
margin-left: -700px;
}

.container {
    position: relative;
}

.img-btn1 {
display: inline-block;
position: relative;
top: -60px;
left: 150px;

}

.img-btn1 img {
width: 40px;
height: auto;
margin: 5px;
border-radius: 50%;
}

.img-btn2 {
display: inline-block;
position: relative;
top: -60px;
left: 150px;

}

.img-btn2 img {
width: 40px;
height: auto;
margin: 5px;
border-radius: 50%;
}

.img-btn3 {
display: inline-block;
position: relative;
top: -60px;
left: 150px;
}

.img-btn3 img {
width: 40px;
height: auto;
margin: 5px;
border-radius: 50%;
}

.img-btn1:hover img {
transform: scale(1.1);
transition: transform 0.5s;
}

.img-btn2:hover img {
transform: scale(1.1);
transition: transform 0.5s;
}

.img-btn3:hover img {
transform: scale(1.1);
transition: transform 0.5s;
}


.sliding-text {
text-align: left;
overflow: hidden;
animation: slideIn 1.5s; 
}


@keyframes slideIn {
0% {
transform: translateX(-100%);
} 
100% {
transform: translateX(0);
}
}

footer {
background-color:transparent;
color: white;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}

button {
    background-color: rgb(229, 128, 143)  ;
    color: rgb(255, 255, 255);
    padding:5px 15px;
    margin-top: -195px;
    margin-left: 150px;
    border-color: aliceblue;
    float: left;
}

button a {
    text-decoration: none;
    color: inheret;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    }
    
.floating-image {
    float: right; 
    border-radius: 50px;    
    border: 5px solid rgb(240, 240, 240);         
    width: 250px;
    height: auto;
    margin-right: 130px;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-left: 20px;
    }

    p {
        margin-left: 20px;
        padding: 20px;
        margin-top: -80px;
    }

    .center-text {
        margin-left: 0;
    }

    .img-btn1,
    .img-btn2,
    .img-btn3 {
        left: 0;
    }

    button {
        margin-left: 20px;
    }

    .floating-image {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}



